
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  align-items: center;
}

.star-top{
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 12%, 31%);
  margin: 0 auto 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 padding: 10px;
}

.star-top img{
  object-fit: contain;
  width: 20px;
  height: 20px;
}


.thank-you-state{
  display: none;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%); 
  width: 370px;
  height: 370px;
  padding: 30px;
  border-radius: 40px;
  text-align: center;
  color: white;

}

.thank-you-state img{
  width: 120px;
  margin-bottom: 25px;
}

#selected-rating{
  background-color: hsl(217, 12%, 31%);
  color: hsl(25, 97%, 53%);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.thank-you-state h2{
  color: white;
  margin-bottom: 10px;
}

.thank-you-state p{
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 23px;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 400px;
  padding: 30px;
  border-radius: 40px;
  justify-content: center;
  align-items: flex-start;
}

.container h1{
  color: white;
  margin-left: 33px;
  margin-bottom: 16px;
}

.paragraph{
  margin-left: 33px;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
}

.ratings{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.star{
  border-radius: 50%;
  border: none;
  background-color:  hsl(217, 12%, 31%);
  width: 45px;
  height: 45px;
  color:  hsl(217, 12%, 63%);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.star:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.star:focus{
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.btn-submit{
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.submit{
  width: 300px;
  padding: 13px;
  border-radius: 30px;
  background-color: hsl(25, 97%, 53%);
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover{
  background-color: white;
  color: hsl(25,97%, 53%);
}
