*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  align-items: center;
}

.star-top{
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 12%, 31%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
 padding: 30px;
}

.star-top img{
  width: 20px;
  height: 20px;
}


.thank-you-state{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 400px;
  border-radius: 40px;
}

.container .star-top{
  margin-left: 30px;
  justify-content: center;
}

.container h1{
  color: white;
  margin: 20px 0  16px 30px;
}

.paragraph{
  margin-left: 30px;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
}

.ratings{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.star{
  border-radius: 50%;
  border: none;
  background-color:  hsl(217, 12%, 31%);
  width: 45px;
  height: 45px;
  color:  hsl(217, 12%, 63%);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-submit{
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.submit{
  width: 300px;
  padding: 13px;
  border-radius: 30px;
  background-color: hsl(25, 97%, 53%);
  border: none;
  font-weight: 700;
  cursor: pointer;
}
